.mk-codeview {
  transition: all 0.3s ease-out;
}

.mk-toolbar-float:not(.no-float) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1039;
  padding: 8px;
  background-color: rgba(0,0,0,0.85);
}

.mk-wrapper.mk-fullscreen {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1038;
  height: auto !important;

  .mk-editable, .mk-codeview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
    z-index: 0;
    outline: none !important;
    border-color: transparent;
  }
}

.mk-editable {
  height: 100%;
  overflow: scroll;

  position: relative;
  padding: 20px 8px;

  /* Selection hint */
  div,table,img {
    min-height: 20px;
    border-left: 5px dotted rgba(0,0,0,0.1);
    outline: 1px dotted rgba(0,0,0,0.2);
    border-collapse: separate;

    &:hover {
      outline: 1px dotted rgba(0,0,0,0.8);
    }
  }

  .mk-space {
    outline: none;
    background-color: rgba(0,0,0,0.15);
    text-align: center;
    height: 20px;
    left: 0;
    right: 0;
    border-left: none;
    transition: all 0.3s ease-out;
    transform: scale3d(0.1,0.4,1);
    border-radius: 20px;
    cursor: pointer;

    &:hover {
      outline: none;
      transform: none;
      border-radius: 0;
    }

    &:before {
      content: '+';
      color: black;
      font-weight: bold;
      font-size: 19px;
      line-height: 15px;
      display: inline-block;
    }
  }

  .mk-selection-box {
    $select-color: rgba(0,0,200,0.6);
    $margin-color: rgba(250,160,0,0.3);
    min-height: 20px;
    min-width: 20px;
    border: 1px solid $select-color;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    background: 
      linear-gradient(to bottom, #{$margin-color}, #{$margin-color}) left center no-repeat, 
      linear-gradient(to bottom, #{$margin-color}, #{$margin-color}) right center no-repeat,
      linear-gradient(to bottom, #{$margin-color}, #{$margin-color}) center top no-repeat, 
      linear-gradient(to bottom, #{$margin-color}, #{$margin-color}) center bottom no-repeat;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: -4px;
      background: 
        linear-gradient(to bottom, $select-color, $select-color) no-repeat,
        linear-gradient(to bottom, $select-color, $select-color) no-repeat,
        linear-gradient(to bottom, $select-color, $select-color) no-repeat,
        linear-gradient(to bottom, $select-color, $select-color) no-repeat;
      background-size: 8px 8px;
      background-position: left top, right top, left bottom, right bottom;
    }

    & > .mk-space {
      pointer-events: initial;
      position: absolute;

      &.mk-space-top {
        top: -21px;
      }

      &.mk-space-bottom {
        bottom: -21px;
      }
    }

    & > .mk-selection-box-tools {
      position: absolute;
      top: -21px;
      right: 0;
      pointer-events: initial;
      outline: none !important;
      border: none !important;
      z-index: 10;

      .btn {
        line-height: 12px;
        margin-left: 4px;
      }
    }
  }
}

.mk-resizable {
  .mk-editable,
  .mk-codeview {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    resize: none;
  }
}
.mk-resizing {
  .mk-editable,
  .mk-codeview {
    cursor: ns-resize;
  }
}


.mk-resize {
  user-select: none;
  background-color: rgba(0,0,0,0.1);
  border: 1px solid #ccc;
  padding: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: ns-resize;
  &:hover {
    opacity: 0.8;
  }

  .icon-bar {
    display: block;
    width: 30px;
    margin: 1px auto;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
}

.mk-codeview {
  background-color: black;
  color: white;
  border: 1px solid black;
  font-family: monospace;
  height: 100% !important;
}

.dropdown-menu > li > a {
  cursor: pointer;
}

.dropdown-menu > li.with-padding {
  padding: 8px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.btn-group {
  margin-bottom: 8px;
}
.btn-toolbar + .btn-object-bar,
.btn-toolbar + .mk-editable {
  margin-top: 8px;
} 
.btn input[type=file] {
  cursor: pointer;
}
.mk-table-picker {
  padding: 0 8px;
  table {
    margin: 0;
    tr {
      cursor: pointer;

      & > td {
        width: 10%;
        padding: 0;
        line-height: 13px;
        text-align: center;
        vertical-align: middle;

        & > a {
          display: block;
          width: 100%;
          height: 100%;
          font-size: 10px;
          text-decoration: none;
        }

        &:hover {
          background-color: rgba(0,0,0,0.1);
        }
      }
    }
  }
}
.mk-table-picker-status {
  color: rgba(0,0,0,0.6);
  padding: 4px 0 0;
  font-size: 13px;
}

[data-colorpicker]{
  text-shadow: 0 0 1px rgba(0,0,0,0.6);
}
[data-colorpicker=back],
[data-colorpicker=selection-back],
[data-colorpicker=selection-border] {
  .highlighter {
    border: 1px solid black;
  }
}
